meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width,initial-scale=1")
title #{title}
meta(name="description" content=description)
meta(name="keywords" content=keywords)
meta(property="og:url" content=ogurl)
meta(property="og:title" content=ogtitle)
meta(property="og:type" content=ogpagetype)
meta(property="og:description" content=ogdescription)
meta(property="og:image" content="画像のURL")
meta(name="twitter:card" content="カード種類")
meta(name="twitter:site" content="@Twitterユーザー名")
meta(property="og:site_name" content="サイト名")
meta(property="og:locale" content="ja_JP")
meta(property="fb:app_id" content="appIDを入力")
